doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta( name="viewport", content="user-scalable=no, width=device-width")
    meta(name="apple-mobile-web-app-capable",content="yes")
    title Game Resources
    link( rel="shortcut icon", href="favicon.ico")
    link(rel="stylesheet", href="/vendor.css")
    link(rel="stylesheet", href="/app.css")
    //-     Fav and touch icons
    //-     <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    //-     <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    //-     <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    //-     <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
    script(src="/vendor.js", defer)
    script(src="/templates.js", defer)
    script(src="/app.js", defer, onload="require('initialize');")
  body
    header
      h1 some logo or name
      form
        input(type="search", name="query", placeholder="Search ...")
        button.icon-search(type="submit")
        button.icon-cog(type="button")
        button.icon-bubble(type="button")
        button.icon-exit(type="button")
    section#helper.front
      .front
      .back
    aside
      menu
        li: a(href="/page/Engines")
          i.icon-gauge
          |Dashboard
        li: a(href="/page/Engines/1")
          i.icon-paperclip
          |UI Elements
        li: a(href="/page/wiki")
          i.icon-book
          |Wiki
        li: a(href="/page/Engines/2")
          i.icon-book
          |Form Stuff
        li: a(href="/page/World", data-notifications="4")
          i.icon-bubbles
          |Messages
        li: a(href="/page/World/Static-items")
          i
          |Statistics
        li: a(href="/page/NPC")
          i
          |Tabeles
        li: a(href="/page/NPC/biped")
          i
          |Other Pages
    main(role="main").front
      .front
        |dasdasd
      .back
        //- header
        //-   h1 Dashboard
        //- article(data-module="flipper")
        //-   .flip-container
        //-     .front
        //-       | front content
        //-     .back
        //-       | back content
        //- article(data-module="charts")
        //-   include examples/_chart
        //- article(data-module="tables")
        //-   include examples/_table
        //- article(data-module="comments")
        //-   include examples/_comments


