doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta( name="viewport", content="user-scalable=no, width=device-width")
    meta(name="apple-mobile-web-app-capable",content="yes")
    title Clean Brunch Pancakes
    link( rel="shortcut icon", href="favicon.ico")
    link(rel="stylesheet", href="/vendor.css")
    link(rel="stylesheet", href="/app.css")
    //-     Fav and touch icons
    //-     <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    //-     <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    //-     <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    //-     <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
    script(src="/vendor.js", defer)
    script(src="/templates.js", defer)
    script(src="/app.js", defer, onload="require('initialize');")
  body
    #preferences
    #wrapper.startpage
      form#search(method="get", action="/search")
        h1.logo Game Resource
        label: input(name="q", type="text", size="40",  autocomplete="off", placeholder="Search...")
      menu#main-menu
        li
          a(href="#") Engines
          menu
            li
              a.icon-panda(href="#") Engine #1
            li
              a(href="#") Engine #2
        li
          a(href="#") World
          menu
            li: a(href="#") Terrains
            li: a(href="#") Static items
        li
          a(href="#") NPC
          menu
            li
              a(href="#") biped

        li
          a(href="#") Characters
          menu
            li
              a(href="#") Fantasy
            li
              a(href="#") Military
            li
              a(href="#") Monsters
            li
              a(href="#") Toon
            li
              a(href="#") Armor
            li
              a(href="#") Weapons
        li
          a(href="#") Community
          menu
            li
              a(href="#") Chat
            li
              a.icon-forum(href="#") Forum
        li
          a(href="#") Wiki
          menu
            li
              a(href="#") Tutorials
            li
              a(href="#") Tools