@-webkit-keyframes flyOut { from { right:-100%; } to { right:0%; } }
// @-moz-keyframes flyOut { from { opacity:0; } to { opacity:1; } }
// @keyframes flyOut { from { opacity:0; } to { opacity:1; } }

#notification
  padding: 0
  margin: 0
  list-style: none
  position: absolute
  top:0
  right:0
  li
    position:relative
    color: #fff
    background: rgba(34,34,34,.7)
    border-radius: 15px
    margin: 20px
    padding: 10px
    transition: padding 0.5s
    h4
      margin: 0
      color: #eee
      font-size: 14px
      font-weight: bold
      padding: 0 0 7px 0
      display: block
      text-shadow: 1px 1px 0 #000
    &:after
      position:absolute
      top: 3px
      left: 3px
      border-radius: 50%
      border:2px solid #fff
      color: #fff
      width: 20px
      height: 20px
      display: none
      text-align: center
      line-height: 20px
      font-size: 16px
      background: #000
      box-shadow: 1px 1px #000
      content: '×' //TODO add from font
    &:hover:after
      display:block
      // enter animation
    right:-100%;
    webkit-animation:flyOut ease-in 1;  /* call our keyframe named flyOut, use animattion ease-in and repeat it only 1 time */
    moz-animation:flyOut ease-in 1;
    animation:flyOut ease-in 1;

    webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    webkit-animation-duration:0.4s;
    moz-animation-duration:0.4s;
    animation-duration:0.4s;