header
  h3 Recent Comments
  fieldset
    input(type="checkbox")
    button.icon-plus(type="button")
div
  header
    img(src="http://lorempixel.com/120/120/people/")
    cite.author John Stone
    time(datetime="2009-11-13") 13th November
  p Nullam eleifend lectus non magna tristique, vel dapibus odio dictum. Cras tristique massa nec dolor vulputate, id sodales arcu condimentum. Praesent sagittis, nibh laoreet egestas blandit, erat dui consequat elit, eget imperdiet odio nibh ac urna. Nulla facilisi. Mauris id felis at sapien congue placerat vel sed elit. Sed sagittis gravida est vitae gravida. Nam eget hendrerit eros. Pellentesque commodo pharetra purus in placerat. Suspendisse ultrices lacus in mauris ornare sollicitudin. Donec rutrum metus sed sapien pellentesque suscipit. Praesent sit amet urna sit amet magna vulputate iaculis. Nullam gravida vestibulum sem, sed lacinia nulla malesuada eget. Nunc consectetur mauris tellus, sit amet luctus nibh imperdiet sed. Aliquam sed ullamcorper sem. Etiam lorem tellus, semper et urna venenatis, luctus convallis ligula. Maecenas lacus diam, faucibus vitae consequat a, rhoncus accumsan eros.

div
  header
    img(src="http://lorempixel.com/120/120/people/")
    cite.author John Stone
    time(datetime="2009-11-13") 13th November
  p Nullam eleifend lectus non magna tristique, vel dapibus odio dictum. Cras tristique massa nec dolor vulputate, id sodales arcu condimentum. Praesent sagittis, nibh laoreet egestas blandit, erat dui consequat elit, eget imperdiet odio nibh ac urna. Nulla facilisi. Mauris id felis at sapien congue placerat vel sed elit. Sed sagittis gravida est vitae gravida. Nam eget hendrerit eros. Pellentesque commodo pharetra purus in placerat. Suspendisse ultrices lacus in mauris ornare sollicitudin. Donec rutrum metus sed sapien pellentesque suscipit. Praesent sit amet urna sit amet magna vulputate iaculis. Nullam gravida vestibulum sem, sed lacinia nulla malesuada eget. Nunc consectetur mauris tellus, sit amet luctus nibh imperdiet sed. Aliquam sed ullamcorper sem. Etiam lorem tellus, semper et urna venenatis, luctus convallis ligula. Maecenas lacus diam, faucibus vitae consequat a, rhoncus accumsan eros.
  div
    header
      img(src="http://lorempixel.com/120/120/people/")
      cite.author John Stone
      time(datetime="2009-11-13") 13th November
    p Nullam eleifend lectus non magna tristique, vel dapibus odio dictum. Cras tristique massa nec dolor vulputate, id sodales arcu condimentum. Praesent sagittis, nibh laoreet egestas blandit, erat dui consequat elit, eget imperdiet odio nibh ac urna. Nulla facilisi. Mauris id felis at sapien congue placerat vel sed elit. Sed sagittis gravida est vitae gravida. Nam eget hendrerit eros. Pellentesque commodo pharetra purus in placerat. Suspendisse ultrices lacus in mauris ornare sollicitudin. Donec rutrum metus sed sapien pellentesque suscipit. Praesent sit amet urna sit amet magna vulputate iaculis. Nullam gravida vestibulum sem, sed lacinia nulla malesuada eget. Nunc consectetur mauris tellus, sit amet luctus nibh imperdiet sed. Aliquam sed ullamcorper sem. Etiam lorem tellus, semper et urna venenatis, luctus convallis ligula. Maecenas lacus diam, faucibus vitae consequat a, rhoncus accumsan eros.
  div
    header
      img(src="http://lorempixel.com/120/120/people/")
      cite.author John Stone
      time(datetime="2009-11-13") 13th November
    p Nullam eleifend lectus non magna tristique, vel dapibus odio dictum. Cras tristique massa nec dolor vulputate, id sodales arcu condimentum. Praesent sagittis, nibh laoreet egestas blandit, erat dui consequat elit, eget imperdiet odio nibh ac urna. Nulla facilisi. Mauris id felis at sapien congue placerat vel sed elit. Sed sagittis gravida est vitae gravida. Nam eget hendrerit eros. Pellentesque commodo pharetra purus in placerat. Suspendisse ultrices lacus in mauris ornare sollicitudin. Donec rutrum metus sed sapien pellentesque suscipit. Praesent sit amet urna sit amet magna vulputate iaculis. Nullam gravida vestibulum sem, sed lacinia nulla malesuada eget. Nunc consectetur mauris tellus, sit amet luctus nibh imperdiet sed. Aliquam sed ullamcorper sem. Etiam lorem tellus, semper et urna venenatis, luctus convallis ligula. Maecenas lacus diam, faucibus vitae consequat a, rhoncus accumsan eros.
div
  header
    img(src="http://lorempixel.com/120/120/people/")
    cite.author John Stone
    time(datetime="2009-11-13") 13th November
  p Nullam eleifend lectus non magna tristique, vel dapibus odio dictum. Cras tristique massa nec dolor vulputate, id sodales arcu condimentum. Praesent sagittis, nibh laoreet egestas blandit, erat dui consequat elit, eget imperdiet odio nibh ac urna. Nulla facilisi. Mauris id felis at sapien congue placerat vel sed elit. Sed sagittis gravida est vitae gravida. Nam eget hendrerit eros. Pellentesque commodo pharetra purus in placerat. Suspendisse ultrices lacus in mauris ornare sollicitudin. Donec rutrum metus sed sapien pellentesque suscipit. Praesent sit amet urna sit amet magna vulputate iaculis. Nullam gravida vestibulum sem, sed lacinia nulla malesuada eget. Nunc consectetur mauris tellus, sit amet luctus nibh imperdiet sed. Aliquam sed ullamcorper sem. Etiam lorem tellus, semper et urna venenatis, luctus convallis ligula. Maecenas lacus diam, faucibus vitae consequat a, rhoncus accumsan eros.


