table.backgrid
    thead
        tr
          th.select-all-header-cell.renderable
            input(tabindex='-1', type='checkbox')
          th.sortable.renderable.id
            a
              | ID
              b.sort-caret
          th.editable.sortable.renderable.name
            a
              | Name
              b.sort-caret
          th.editable.sortable.renderable.pop
            a
              | Population
              b.sort-caret
          th.editable.sortable.renderable.percentage
            a
              | % of World Population
              b.sort-caret
          th.editable.sortable.renderable.date
            a
              | Date
              b.sort-caret
          th.editable.sortable.renderable.url
            a
              | URL
              b.sort-caret
      tbody
        tr
          td.select-row-cell.renderable
            input(tabindex='-1', type='checkbox')
          td.integer-cell.sortable.renderable 1
          td.string-cell.editable.sortable.renderable Afghanistan
          td.integer-cell.editable.sortable.renderable 25,500,100
          td.number-cell.editable.sortable.renderable 0.36
          td.date-cell.editable.sortable.renderable 2013-01-01
          td.uri-cell.editable.sortable.renderable
            a(tabindex='-1', href='http://en.wikipedia.org/wiki/Afghanistan', title='http://en.wikipedia.org/wiki/Afghanistan', target='_blank') http://en.wikipedia.org/wiki/Afghanistan
        tr
          td.select-row-cell.renderable
            input(tabindex='-1', type='checkbox')
          td.integer-cell.sortable.renderable 2
          td.string-cell.editable.sortable.renderable Albania
          td.integer-cell.editable.sortable.renderable 2,831,741
          td.number-cell.editable.sortable.renderable 0.04
          td.date-cell.editable.sortable.renderable 2011-10-01
          td.uri-cell.editable.sortable.renderable
            a(tabindex='-1', href='http://en.wikipedia.org/wiki/Albania', title='http://en.wikipedia.org/wiki/Albania', target='_blank') http://en.wikipedia.org/wiki/Albania
        tr
          td.select-row-cell.renderable
            input(tabindex='-1', type='checkbox')
          td.integer-cell.sortable.renderable 3
          td.string-cell.editable.sortable.renderable Algeria
          td.integer-cell.editable.sortable.renderable 37,100,000
          td.number-cell.editable.sortable.renderable 0.53
          td.date-cell.editable.sortable.renderable 2012-01-01
          td.uri-cell.editable.sortable.renderable
            a(tabindex='-1', href='http://en.wikipedia.org/wiki/Algeria', title='http://en.wikipedia.org/wiki/Algeria', target='_blank') http://en.wikipedia.org/wiki/Algeria
        tr
          td.select-row-cell.renderable
            input(tabindex='-1', type='checkbox')
          td.integer-cell.sortable.renderable 4
          td.string-cell.editable.sortable.renderable American Samoa (USA)
          td.integer-cell.editable.sortable.renderable 55,519
          td.number-cell.editable.sortable.renderable 0.00
          td.date-cell.editable.sortable.renderable 2010-04-01
          td.uri-cell.editable.sortable.renderable
            a(tabindex='-1', href='http://en.wikipedia.org/wiki/American_Samoa', title='http://en.wikipedia.org/wiki/American_Samoa', target='_blank') http://en.wikipedia.org/wiki/American_Samoa
        tr
          td.select-row-cell.renderable
            input(tabindex='-1', type='checkbox')
          td.integer-cell.sortable.renderable 5
          td.string-cell.editable.sortable.renderable Andorra
          td.integer-cell.editable.sortable.renderable 78,115
          td.number-cell.editable.sortable.renderable 0.00
          td.date-cell.editable.sortable.renderable 2011-07-01
          td.uri-cell.editable.sortable.renderable
            a(tabindex='-1', href='http://en.wikipedia.org/wiki/Andorra', title='http://en.wikipedia.org/wiki/Andorra', target='_blank') http://en.wikipedia.org/wiki/Andorra
        tr
          td.select-row-cell.renderable
            input(tabindex='-1', type='checkbox')
          td.integer-cell.sortable.renderable 6
          td.string-cell.editable.sortable.renderable Angola
          td.integer-cell.editable.sortable.renderable 20,609,294
          td.number-cell.editable.sortable.renderable 0.29
          td.date-cell.editable.sortable.renderable 2012-07-01
          td.uri-cell.editable.sortable.renderable
            a(tabindex='-1', href='http://en.wikipedia.org/wiki/Angola', title='http://en.wikipedia.org/wiki/Angola', target='_blank') http://en.wikipedia.org/wiki/Angola
        tr
          td.select-row-cell.renderable
            input(tabindex='-1', type='checkbox')
          td.integer-cell.sortable.renderable 7
          td.string-cell.editable.sortable.renderable Anguilla (UK)
          td.integer-cell.editable.sortable.renderable 13,452
          td.number-cell.editable.sortable.renderable 0.00
          td.date-cell.editable.sortable.renderable 2011-05-11
          td.uri-cell.editable.sortable.renderable
            a(tabindex='-1', href='http://en.wikipedia.org/wiki/Anguilla', title='http://en.wikipedia.org/wiki/Anguilla', target='_blank') http://en.wikipedia.org/wiki/Anguilla
        tr
          td.select-row-cell.renderable
            input(tabindex='-1', type='checkbox')
          td.integer-cell.sortable.renderable 8
          td.string-cell.editable.sortable.renderable Antigua and Barbuda
          td.integer-cell.editable.sortable.renderable 86,295
          td.number-cell.editable.sortable.renderable 0.00
          td.date-cell.editable.sortable.renderable 2011-05-27
          td.uri-cell.editable.sortable.renderable
            a(tabindex='-1', href='http://en.wikipedia.org/wiki/Antigua_and_Barbuda', title='http://en.wikipedia.org/wiki/Antigua_and_Barbuda', target='_blank') http://en.wikipedia.org/wiki/Antigua_and_Barbuda
        tr
          td.select-row-cell.renderable
            input(tabindex='-1', type='checkbox')
          td.integer-cell.sortable.renderable 9
          td.string-cell.editable.sortable.renderable Argentina
          td.integer-cell.editable.sortable.renderable 40,117,096
          td.number-cell.editable.sortable.renderable 0.57
          td.date-cell.editable.sortable.renderable 2010-10-27
          td.uri-cell.editable.sortable.renderable
            a(tabindex='-1', href='http://en.wikipedia.org/wiki/Argentina', title='http://en.wikipedia.org/wiki/Argentina', target='_blank') http://en.wikipedia.org/wiki/Argentina
        tr
          td.select-row-cell.renderable
            input(tabindex='-1', type='checkbox')
          td.integer-cell.sortable.renderable 10
          td.string-cell.editable.sortable.renderable Armenia
          td.integer-cell.editable.sortable.renderable 3,275,700
          td.number-cell.editable.sortable.renderable 0.05
          td.date-cell.editable.sortable.renderable 2012-06-01
          td.uri-cell.editable.sortable.renderable
            a(tabindex='-1', href='http://en.wikipedia.org/wiki/Armenia', title='http://en.wikipedia.org/wiki/Armenia', target='_blank') http://en.wikipedia.org/wiki/Armenia
        tr
          td.select-row-cell.renderable
            input(tabindex='-1', type='checkbox')
          td.integer-cell.sortable.renderable 11
          td.string-cell.editable.sortable.renderable Aruba (Netherlands)
          td.integer-cell.editable.sortable.renderable 101,484
          td.number-cell.editable.sortable.renderable 0.00
          td.date-cell.editable.sortable.renderable 2010-09-29
          td.uri-cell.editable.sortable.renderable
            a(tabindex='-1', href='http://en.wikipedia.org/wiki/Aruba', title='http://en.wikipedia.org/wiki/Aruba', target='_blank') http://en.wikipedia.org/wiki/Aruba
        tr
          td.select-row-cell.renderable
            input(tabindex='-1', type='checkbox')
          td.integer-cell.sortable.renderable 12
          td.string-cell.editable.sortable.renderable Australia
          td.integer-cell.editable.sortable.renderable 22,808,690
          td.number-cell.editable.sortable.renderable 0.32
          td.date-cell.editable.sortable.renderable 2012-11-11
          td.uri-cell.editable.sortable.renderable
            a(tabindex='-1', href='http://en.wikipedia.org/wiki/Australia', title='http://en.wikipedia.org/wiki/Australia', target='_blank') http://en.wikipedia.org/wiki/Australia
        tr
          td.select-row-cell.renderable
            input(tabindex='-1', type='checkbox')
          td.integer-cell.sortable.renderable 13
          td.string-cell.editable.sortable.renderable Austria
          td.integer-cell.editable.sortable.renderable 8,452,835
          td.number-cell.editable.sortable.renderable 0.12
          td.date-cell.editable.sortable.renderable 2012-07-01
          td.uri-cell.editable.sortable.renderable
            a(tabindex='-1', href='http://en.wikipedia.org/wiki/Austria', title='http://en.wikipedia.org/wiki/Austria', target='_blank') http://en.wikipedia.org/wiki/Austria
        tr
          td.select-row-cell.renderable
            input(tabindex='-1', type='checkbox')
          td.integer-cell.sortable.renderable 14
          td.string-cell.editable.sortable.renderable Azerbaijan
          td.integer-cell.editable.sortable.renderable 9,235,100
          td.number-cell.editable.sortable.renderable 0.13
          td.date-cell.editable.sortable.renderable 2012-01-01
          td.uri-cell.editable.sortable.renderable
            a(tabindex='-1', href='http://en.wikipedia.org/wiki/Azerbaijan', title='http://en.wikipedia.org/wiki/Azerbaijan', target='_blank') http://en.wikipedia.org/wiki/Azerbaijan
        tr
          td.select-row-cell.renderable
            input(tabindex='-1', type='checkbox')
          td.integer-cell.sortable.renderable 15
          td.string-cell.editable.sortable.renderable Bahamas
          td.integer-cell.editable.sortable.renderable 353,658
          td.number-cell.editable.sortable.renderable 0.01
          td.date-cell.editable.sortable.renderable 2010-05-03
          td.uri-cell.editable.sortable.renderable
            a(tabindex='-1', href='http://en.wikipedia.org/wiki/The_Bahamas', title='http://en.wikipedia.org/wiki/The_Bahamas', target='_blank') http://en.wikipedia.org/wiki/The_Bahamas

