main article[data-module]
  table
    border-collapse: separate
    border-spacing: 3px 3px
    display:inline-block
    vertical-align:top
  th, td
    width: 25px
    height:25px
    text-align:center
    vertical-align: middle
  th
    background:#CCC
    border: 2px solid transparent
  a
    text-decoration: none